api:
  security:
    token:
      secret:  ${JWT_SECRET:b133105fc55625f67cafc7b0cb8438dd3e9824e0fc1017580fb193fb82ec6f56}

spring:
  application:
    name: Game Odds

  datasource:
    url: jdbc:postgresql://localhost:5432/gameodds_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      